<ion-content>
    <div>
        <form>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>Product Id</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Product No</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Product Name</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Description</ion-label>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Price</ion-label>
                            </div>
                            <div>
                                <ion-label>Discount</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Featured</ion-label>
                            </div>
                            <div>
                                <ion-label>Sizes</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Colors</ion-label>
                            </div>
                            <div>
                                <ion-label>Stock</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Promo</ion-label>
                            </div>
                            <div>
                                <ion-label>Category Id</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Supplier Id</ion-label>
                            </div>
                            <div>
                                <ion-label>Cost Price</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Available</ion-label>
                            </div>
                            <div>
                                <ion-label>Order Units</ion-label>
                            </div>
                            <div>
                                <ion-label>Reorder-level</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>Unit Price</ion-label>
                            </div>
                            <div>
                                <ion-label>Image Id</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <ion-label>Actions</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let product of products; index as productId">
                    <ion-col>
                        <ion-label>{{ product.product_id }}</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>{{ product.product_no }}</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>{{ product.product_name }}</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>{{ product.product_description }}</ion-label>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.product_price }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.product_discount }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.product_featured }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.product_sizes }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.product_colors }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.units_in_stock }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.product_promo }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.category_id }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.supplier_id }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.cost_price }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.available }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.units_on_order }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.reorder_level }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div>
                            <div>
                                <ion-label>{{ product.unit_price }}</ion-label>
                            </div>
                            <div>
                                <ion-label>{{ product.image_id }}</ion-label>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col>
                        <div class="actions-button">
                            <ion-button color="danger">Delete</ion-button>
                            <ion-button color="secondary">Modify</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>