<ion-content>
    <div class="products-container">
        <ion-grid>
            <ion-row class="dashboard-row">
                <ion-col>
                    <p>Origin Dashboard</p>
                    <small>Dashboard > Edit Products</small>
                </ion-col>

                <ion-col>
                    <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" routerLink="/administration-panel/edit-products">
                        Edit Products
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" routerLink="/administration-panel/edit-categories">
                        Edit Categories
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" routerLink="/administration-panel/edit-subcategories">
                        Edit SubCategory
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" routerLink="/administration-panel/edit-customers">
                        Edit Customers
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" routerLink="/administration-panel/edit-suppliers">
                        Edit Suppliers
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <form>
            <table>
                <thead>
                    <tr>
                        <th>
                            <ion-label>Product Id</ion-label>
                        </th>

                        <th>
                            <ion-label>Product No</ion-label>
                        </th>

                        <th>
                            <ion-label>Product Name</ion-label>
                        </th>

                        <th>
                            <ion-label>Description</ion-label>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Price</ion-label>
                                </div>
                                <div>
                                    <ion-label>Discount</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Featured</ion-label>
                                </div>
                                <div>
                                    <ion-label>Sizes</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Colors</ion-label>
                                </div>
                                <div>
                                    <ion-label>Stock</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Promo</ion-label>
                                </div>
                                <div>
                                    <ion-label>Category Id</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Supplier Id</ion-label>
                                </div>
                                <div>
                                    <ion-label>Cost Price</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Available</ion-label>
                                </div>
                                <div>
                                    <ion-label>Order Units</ion-label>
                                </div>
                                <div>
                                    <ion-label>Reorder-level</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <div>
                                <div>
                                    <ion-label>Unit Price</ion-label>
                                </div>
                                <div>
                                    <ion-label>Image Id</ion-label>
                                </div>
                            </div>
                        </th>

                        <th>
                            <ion-label>Actions</ion-label>
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let product of products; index as productId">
                        <td>
                            <ion-label>{{ product.product_id }}</ion-label>
                        </td>

                        <td>
                            <ion-label>{{ product.product_no }}</ion-label>
                        </td>

                        <td>
                            <ion-label>{{ product.product_name }}</ion-label>
                        </td>

                        <td>
                            <ion-label>{{ product.product_description }}</ion-label>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.product_price }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.product_discount }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.product_featured }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.product_sizes }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.product_colors }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.units_in_stock }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.product_promo }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.category_id }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.supplier_id }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.cost_price }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.available }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.units_on_order }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.reorder_level }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <div>
                                    <ion-label>{{ product.unit_price }}</ion-label>
                                </div>
                                <div>
                                    <ion-label>{{ product.image_id }}</ion-label>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="actions-button">
                                <ion-button color="danger" (click)="deleteProduct(product.product_id)">Delete</ion-button>
                                <ion-button color="secondary" (click)="modifyButtonClick(product.product_id)">Modify</ion-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>