<ion-content>
    <div class="centerFormContents">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <p>Reset Password Form</p>
                </ion-col>

                <ion-col size="1">
                    <div class="closeRegisterForm">
                        <a routerLink="/register-login">
                            <ion-icon class="closeFormIcon" name="close-circle-outline"></ion-icon>
                        </a>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10">
                    <p class="formIntroText">Create a New Password
                    </p>
                </ion-col>
            </ion-row>

        </ion-grid>

        <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label position="floating">Password<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="newPassword" name="newPassword" [type]="passwordType"></ion-input>
                <ion-icon name="eye" [color]="passwordShown === true ? 'dark': 'gray'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>

            <!-- Shows error message when password field is left blank starts here-->

            <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && (resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched)" color="danger">
                <div *ngIf="resetPasswordForm.controls['newPassword'].errors.required" color="danger">
                    Password is required.
                </div>
            </div>

            <!-- Shows error message when password field is left blank stops here-->

            <ion-item>
                <ion-label position="floating">Confirm Password<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="confirmPassword" appConfirmEqualityValidator="newPassword" name="confirmPassword" [type]="retypePasswordType"></ion-input>
                <ion-icon name="eye" [color]="retypePasswordShown === true ? 'dark': 'gray'" slot="end" (click)="retypePasswordVisibility()"></ion-icon>
            </ion-item>

            <!-- Shows error message when retypedpassword field is left blank starts here-->

            <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)" color="danger">
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors.required">
                    Retype password is required.
                </div>
            </div>
            <div *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].errors?.notEqual && !resetPasswordForm.controls['confirmPassword'].errors?.required" class="errorMessages">
                Passwords do not match
            </div>
            <!-- Shows error message when  retypedpassword field is left blank stops here-->

            <div>
                <ion-row class="ion-justify-content-end">
                    <ion-col size="4">
                        <ion-button class="ion-activatable ripple-parent" expand="block" type="submit" [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid">
                            Update Password
                            <ion-ripple-effect type="bounded"></ion-ripple-effect>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </form>
    </div>
</ion-content>