.payment-container {
    margin-top: 120px;
    margin-bottom: 30px;
    .top-bar-headings {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
    }
}

.row-formater {
    display: flex;
    justify-content: space-between;
}

.payment-cards {
    width: 20vw;
    img {
        width: 3.5vw;
    }
}

.month-year {
    width: 35vw;
}

ion-card {
    width: 50vw;
    margin: auto;
}

.save-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}

.cancel-button {
    --background: rgb(128, 128, 128) !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(128, 128, 128, 0.5);
}

.ion-card-content {
    width: 52vw;
    margin: auto;
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-type-space {
    margin: 12px 0px;
    p {
        margin-bottom: 10px;
    }
}

.settings-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .settings-list {
        width: 18vw;
        border: 1px solid gray;
    }
}

// setting link properties to be used by routerLinkActive
a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

a.active {
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

/* 
* Media Queries for Mobile L - 425px
*/

@media screen and (max-width: 425px) {
    .ion-card-content  {
        width: 96vw;
    }
    .ion-card-content, .settings-list {
        width: 100vw !important;
    }
    .settings-list {
        margin-top: -70px;
        margin-bottom: 10px;
    }
    .settings-form {
        flex-direction: column;
    }
    ion-card {
        width: 94vw;  
    }
    .row-formater {
        flex-direction: column;
    }
    #paymentCards {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }
    #paymentCards img {
        width: 12vw;
        height: 8vh;
    }
}

/* 
* Media Queries for Tablet - 768px
*/

@media screen and (min-width: 768px) {
    #paymentCards img {
        width: 12vw;
        height: 8vh;
    }
    .ion-card-content  {
        width: 65vw;
    }
    .settings-list {
        width: 29vw !important;
    }
    #paymentCards {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }
    ion-card {
        width: 63vw;  
    }
    .month-year {
        width: 80vw;
    }
    .cardType {
        font-size: 1.5rem;
    }
}

/* 
* Media Queries for Laptop L - 1440px
*/

@media screen and (min-width: 1440px) {
   p, ion-label, ion-select {
       font-size: 1.7rem !important;
   }
   .row-formater ion-label {
       margin-bottom: 40px;
   }
   .cardType {
    font-size: 2rem !important;
    }
}

/* 
* Media Queries for Laptop - 1024px
*/

@media screen and (min-width: 1024px) {
    p, ion-label, ion-select {
        font-size: 1.7rem !important;
    }
    .row-formater ion-label {
        margin-bottom: 40px;
    }
    .cardType {
     font-size: 2rem !important;
     }
 }

 /* 
* Media Queries for 4K - 2560px
*/

@media screen and (min-width: 2560px) {
    p, ion-label, ion-select {
        font-size: 3rem !important;
    }
    .row-formater ion-label {
        margin-bottom: 40px;
    }
    .cardType {
     font-size: 3rem !important;
     }
 }