.payment-container {
    margin-top: 90px;
    .top-bar-headings {
        display: flex;
        justify-content: space-between;
    }
}

.row-formater {
    display: flex;
    justify-content: space-between;
}

.payment-cards {
    width: 20vw;
    img {
        width: 3.5vw;
    }
}

.month-year {
    width: 35vw;
}

ion-card {
    width: 50vw;
    margin: auto;
}