.centerFormContents {
    padding-top: 60px;
    .closeFormIcon {
        font-size: 3rem;
    }
}

ion-content .centerFormContents {
    width: 90%;
    margin: auto;
}

.accountSteps {
    display: flex;
    align-items: center;
}

.accountSteps>div:nth-child(odd) {
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.accountSteps>div:nth-child(even) {
    width: 30vw;
    height: 1px;
    border: 1px solid gray;
    background-color: gray;
}

.activeTab {
    background-color: palevioletred;
}

small {
    color: palevioletred;
}

ul {
    list-style-type: disc;
}

.formIntroText {
    line-height: 1.6rem;
}

a {
    color: black;
    text-decoration: none;
}

ion-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}

// matched and unmatched of password and email css starts here

.errorMessages {
    margin: 15px 0px;
    background-color: yellow;
    color: red;
}

// matched and unmatched of password and email css starts here