<ion-content>
    <div class="centerFormContents">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <p>Customer Registration</p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="success_div">

                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10" class="ion-justify-content-end">
                    <h5 class="ion-text-center">Registration Complete</h5>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
                    <p>
                        <ion-text>
                            Thank you for registering to Origin. Please check your email to confirm your email address and activate your account.
                        </ion-text>
                    </p>
                    <p>
                        <ion-text>
                            You can proceed to shopping once you've successfully activated your account.
                        </ion-text>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="ion-margin-top">
            <ion-row class="ion-justify-content-between">
                <ion-col>
                    <ion-button class="ion-activatable ripple-parent signIn_button" expand="block" type="submit" routerLink="/register-login">
                        Sign in
                        <ion-ripple-effect type="bounded"></ion-ripple-effect>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button class="ion-activatable ripple-parent homePage_button" color="dark" expand="block" type="submit" routerLink="/tabs/tab1">
                        Go to Home Page
                        <ion-ripple-effect type="bounded"></ion-ripple-effect>
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>