.closeRegisterForm {
    margin-top: 60px;

    .closeFormIcon {
        font-size: 3rem;
    }
}
ion-content .centerFormContents {
    width: 90%;
    margin: auto;
}
small {
    font-size: .90rem;
}