<ion-content>
    <div class="about-us-container">
        <div>
            <p class="ion-text-center provider"><b>Complete e-commerce service provider</b></p>
            <h1 class="ion-text-center">Origin.com</h1>
        </div>
        <div>
            <ion-label class="ion-text-wrap">
                We are a full service E-Commerce company, dedicated to growing Wholesale Manufacturer's product lines and increase Brand recognition. We have specially developed tools and services tailored to Wholesale Manufacturers. From an online marketplace with exponentially
                growing number of registered users, new users and purchases to professionally photographed product images while providing full customer service and order processing for buyers, we have everything ed to get your foot into the booming online
                business with minimal effort and costs.
            </ion-label>
        </div>
        <div>
            <h5>Increase your exposure to retail buyers worldwide</h5>
        </div>
        <div class="product-offers">
            <div class="monthly-fee">
                <div class="exposures">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </div>
                <div>
                    <p class="ion-text-center">No monthly charges</p>
                </div>
            </div>

            <div class="fashion-driven">
                <div class="exposures">
                    <ion-icon name="shirt-outline"></ion-icon>
                </div>
                <div>
                    <p class="ion-text-center"> Brand Focused, <br /> Fashion Driven</p>
                </div>
            </div>

            <div class="product-uploads">
                <div class="exposures">
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                </div>
                <div>
                    <p class="ion-text-center">Unlimited Product Upload</p>
                </div>
            </div>
        </div>

        <div>
            <h5>A tailored website supports you to save time and money</h5>
            <ion-label class="ion-text-wrap">
                Our marketplace is specifically designed for wholesale and retail buyers. Buyers love that they are able to easily find products they are looking for. They love that we provide excellent customer service. They love that they can do all of their shopping
                in one place. Don’t miss out on this outstanding opportunity to potential buyers that on waiting for you to join us! We also provide product and order management tools with excellent, friendly technical support should anything go wrong.
            </ion-label>
        </div>

        <div>
            <div class="market-place">
                <h5>A Marketplace built for buyers and manufacturers</h5>
                <div class="one-stop-centering">
                    <div class="one-stop-shopping one-stop">
                        <p class="ion-text-center">One Stop <br />Shopping</p>
                    </div>

                    <div class="one-stop-service one-stop">
                        <p class="ion-text-center">One Stop <br />Service</p>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <ion-label class="ion-text-wrap">
                        We created a virtual showroom where retailers and buyers have access to a large selection of wholesale fashion merchandise and where designers and manufacturers are able to promote their brand, sell their products, and reach new buyers instantly at no
                        risk and low costs. We research and develop both sides of the spectrum to maximize sales for Manufacturers and easy purchasing for Buyers.
                    </ion-label>
                </div>

                <div>
                    <h5 id="shopping" >One Stop Shopping</h5>
                    <ion-label class="ion-text-wrap">
                        Origin.com is the leader in one-stop wholesale shopping website. Buyers love that they can save money on shipping and save time in shopping. Buyers also love that they are charged from one company instead of providing sensitive payment info to multiple
                        vendors. It is also easier for their accounting.
                    </ion-label>
                </div>

                <div>
                    <h5 id="service">One Stop Service</h5>
                    <ion-label class="ion-text-wrap">
                        Origin provides all of the customer service including, but not limited to, general product questions, complaints and return requests, sales and product recommendations. Buyers love that they only need to contact one company, one phone number for all of
                        their buying needs. Sometimes Manufacturers are not able to provide the excellent customer service they would like to for many reasons. Our customer service team is meticulously selected and trained to provide the upmost, excellent
                        service to YOUR customers. Buyers are constantly praising us for our service. “It is so much better and easier to deal with your company than the many other companies I have and can purchase from” – Boutique chain owner. Buyers
                        come for the products, but they stay for the service.
                    </ion-label>
                </div>

                <div class="management-system">
                    <h5>Origin Shopping management System</h5>
                    <div class="origin-shopping-management">
                        <div class="optimizations mobile-view">
                            <p class="ion-text-center">Mobile View<br />Optimization</p>
                        </div>

                        <div class="optimizations seo">
                            <p class="ion-text-center">Built for<br />SEO</p>
                        </div>

                        <div class="optimizations email-marketing">
                            <p class="ion-text-center">Email Marketing Tool</p>
                        </div>

                        <div class="optimizations easy-website">
                            <p class="ion-text-center">Easy Website<br />Management</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>