<ion-content>
    <div *ngIf="!product">

        <div class="skelet">
            <ion-skeleton-text class="skelet" animated></ion-skeleton-text>
        </div>

        <div class="firstParagraph">
            <ion-skeleton-text animated></ion-skeleton-text>
            <ng-container>
                <ion-card class="product_details_card">
                    <ion-card-content>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <p>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </p>

                        <ion-button class="ion-activatable ripple-parent">
                            <ion-skeleton-text animated></ion-skeleton-text>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>

        <div class="suggestedProductsSection">
            <h3 class="ion-text-center">
                <ion-skeleton-text animated></ion-skeleton-text>
            </h3>
            <ion-slides #slides2 pager="true" class="sliderBelow" [options]="secondSlideOpts" (ionSlidesDidLoad)="slidesDidLoad2(slider)" loop="true">
                <ion-slide class="secondSlide">
                    <div class="suggested_products">
                        <ion-skeleton-text>
                            <ion-card-header>
                                <ion-skeleton-text class="suggestedProductsImages" animated></ion-skeleton-text>

                                <ion-card-title>
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-button class="ion-activatable ripple-parent">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-ripple-effect></ion-ripple-effect>
                                </ion-button>
                            </ion-card-content>
                        </ion-skeleton-text>
                    </div>

                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <!-- Up is for skeleton-->

    <div *ngIf="product">
        <ion-slides #slides class="firstSlide" pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesDidLoad(slider)" loop="true">
            <ion-slide>
                <div class="slide-page-one ">
                    <img [src]="product.product_images" [alt]="product.product_name" />
                </div>

            </ion-slide>

            <ion-slide>
                <div class="slide-page-two ">
                    <img [src]="product.product_images" [alt]="product.product_name" />
                </div>
            </ion-slide>


            <ion-slide>
                <div class="slide-page-two ">
                    <img [src]="product.product_images" [alt]="product.product_name" />
                </div>

            </ion-slide>

        </ion-slides>
        <div class="firstParagraph">
            <h1 class="ion-text-center">Product Details</h1>
            <ng-container>
                <ion-card class="product_details_card">
                    <ion-card-content>
                        <h3>{{ product.product_name }}</h3>
                        <p>{{ product.product_price | currency }}</p>
                        <p *ngIf="product.product_description">
                            {{ product.product_description }}
                        </p>

                        <ion-button class="ion-activatable ripple-parent" (click)="addToCart(product)">
                            ADD TO CART
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-button>
                    </ion-card-content>
                </ion-card>

            </ng-container>
        </div>

        <div class="suggestedProductsSection">
            <h3 class="ion-text-center">PRODUCTS YOU MIGHT LIKE</h3>
            <ion-slides #slides2 pager="true" class="sliderBelow" [options]="secondSlideOpts" (ionSlidesDidLoad)="slidesDidLoad2(slider)" loop="true">
                <ion-slide class="secondSlide" *ngFor="let product of productDetails; index as productId">
                    <div class="suggested_products">
                        <ion-card>
                            <ion-card-header>
                                <img class="suggestedProductsImages" [src]="product.product_images" [alt]="product.product_name" />

                                <ion-card-title>
                                    <h3>
                                        {{ product.product_name }}
                                    </h3>
                                </ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-button class="ion-activatable ripple-parent" [routerLink]="['/products', productId]">
                                    Details
                                    <ion-ripple-effect></ion-ripple-effect>
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </div>

                </ion-slide>
            </ion-slides>
        </div>
        <div class="space-creator"></div>
        <app-policy-footer></app-policy-footer>
    </div>
</ion-content>