.contact-container {
    display: flex;
    width: 100%;
    background: url(./../../assets/images/contact-gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: cadetblue;
    margin-top: 73px;
    margin-bottom: 30px;
    .contact-intro {
        width: 40%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            color: #86C232;
        }
    }
    .form-container {
        width: 60%;
        height: 85vh;
    }
}

ion-card {
    width: 60%;
    height: 75vh;
    margin: auto;
    margin-top: 5vh;
}

ion-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}
