ion-content ion-toolbar {
    --background: translucent;
}

.shop-wrapper {
    margin-top: 70px;
}

.top-cover-image {
    width: 100vw;
    height: 60vh;
    margin-bottom: 18px;
    img {
        width: 100%;
        height: 100%;
    }
}

p,
h3 {
    text-transform: capitalize;
}

.shoppingProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    .productImage {
        height: 25vh;
    }
}

.arrow_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #9E15BF;
        text-decoration: none;
    }
    .backArrow {
        ion-icon {
            font-size: 2rem;
        }
    }
}

.percentage-discount {
    border: 1px solid red;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 234px;
    left: 167px;
    text-align: center;
    color: yellow;
    background-color: red;
}

.details-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}
.product-name {
    color:  #86C232;
}

/* 
* Media Queries for Mobile S - 320px
*/

@media screen and (max-width: 320px) {
  .shoppingProducts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
    .productImage {
        height: 18vh;
    }
  }
  .product-name {
      font-size: 0.9rem;
      text-align: center;
  }
  .details-button {
      margin-top: -15px;
      margin-bottom: 30px;
  }
}
