<ion-content [fullscreen]="true">
    <div class="shop-wrapper">
        <div class="arrow_container">
            <div class="backArrow">
                <a routerLink="/tabs/tab1">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </div>
            <div class="shop_title">
                <h1 class="ion-text-center">Products</h1>
            </div>
            <div></div>
        </div>

        <div class="all-products">

            <ion-card *ngFor="let product of products; index as productId">
                <ion-card-header>
                    <img class="productsImage" [src]="product.product_images" />

                    <ion-card-title>
                        <h3>
                            {{ product.product_name }}
                        </h3>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-button class="ion-activatable ripple-parent" [routerLink]="['/products', productId]">
                        Details
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>

        <!-- Pagination code starts here-->
        <div class="pagination-container">
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    {{ page + 1 }} of {{ totalPages }}
                </ion-col>
            </ion-row>

            <ion-row class="pagination">
                <ion-col size="2">
                    <ion-button fill="clear" (click)="firstPage()">
                        <ion-icon name="play-back" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="2">
                    <ion-button fill="clear" (click)="prevPage()">
                        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-icon size="4" class="ion-text-center">
                    <ion-select interface="popover" [(ngModel)]="resultsCount" (ionChange)="getAllProducts()">
                        <ion-select-option [value]="5">5</ion-select-option>
                        <ion-select-option [value]="10">10</ion-select-option>
                        <ion-select-option [value]="25">25</ion-select-option>
                        <ion-select-option [value]="50">50</ion-select-option>
                    </ion-select>
                </ion-icon>

                <ion-col size="2">
                    <ion-button fill="clear" (click)="nextPage()">
                        <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="2">
                    <ion-button fill="clear" (click)="lastPage()">
                        <ion-icon name="play-forward" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-col>

            </ion-row>
        </div>
        <!-- Pagination code stops here-->
    </div>
</ion-content>