ion-content ion-toolbar {
    --background: translucent;
}

.shop-wrapper {
    margin-top: 70px;
}

.top-cover-image {
    width: 100vw;
    height: 60vh;
    margin-bottom: 18px;
    img {
        width: 100%;
        height: 100%;
    }
}

p,
h3 {
    text-transform: capitalize;
}

.shoppingProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .productImage {
        height: 130px;
    }
}

.arrow_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #9E15BF;
        text-decoration: none;
    }
    .backArrow {
        ion-icon {
            font-size: 2rem;
        }
    }
}

.percentage-discount {
    border: 1px solid red;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 217px;
    left: 167px;
    text-align: center;
    color: yellow;
    background-color: red;
}

.details-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}
.product-name {
    color:  #86C232;
}