.cart_container {
    width: 90%;
    margin: auto;
}

.addedProducts {
    display: flex;
    flex-direction: column;
    .cart_bottom,
    ion-card-content {
        display: flex;
        justify-content: space-between;
    }
    .info_div {
        width: 65%;
    }
    .item_image {
        width: 33%;
    }
    .item_image img {
        height: 90px;
    }
    p {
        font-size: 1.2rem;
    }
}

.cart_title {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
    }
    .backArrow {
        ion-icon {
            font-size: 2rem;
            color: #9E15BF;
        }
    }
}

.productinfo {
    display: flex;
    justify-content: space-between;
    .delete-container {
        position: relative;
        bottom: 10px;
        left: 14px;
        .deleteItem {
            color: red;
            font-size: 1.7rem;
        }
    }
}

a {
    text-decoration: none;
}

.checkoutButton ion-icon {
    color: white;
}

.checkoutButton {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 10px 10px rgba(157, 21, 191, 0.5);
}

ion-card {
    --background: rgba(128, 128, 128, 0.05);
}

// price and quantity css starts here
.price-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    .quantity-add-sub {
        display: flex;
        align-items: center;
        position: relative;
        right: 17%;
        width: 50%;
        ion-icon {
            font-size: 1.6rem;
        }
        ion-button {
            margin: 0px;
            padding: 0px;
        }
        .quantity-container {
            border: 1px solid gray;
            background-color: white;
            color: black;
            height: auto;
            padding: 0px 8px;
            font-size: 1.4rem;
        }
    }
    .price {
        font-size: 1rem;
        color: #9E15BF;
    }
}

.total-price {
    color: #9E15BF;
}

.paypal-button-container {
    width: 170px;
    margin: auto;
}