<ion-content>
    <div class="cart_container">
        <div class="cart_title">
            <div class="backArrow">
                <a routerLink="/tabs/tab2">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </div>
            <div>
                <h3 class="ion-text-center">MY CART</h3>
            </div>
            <div></div>
        </div>
        <div class="addedProducts" *ngIf="products">

            <ion-card *ngFor="let product of products; index as productId">
                <ion-card-content *ngIf="!paidFor">
                    <div class="item_image">
                        <img class="featuredProductsImages" [src]="'http://localhost/origin/src/public/images/' + product[0].image.split(',').slice(0, 1)" />
                    </div>

                    <div class="info_div">
                        <div class="productinfo">
                            <p class="product-name">{{ product[0].product_name }}</p>
                            <p class="delete-container">
                                <ion-button fill="clear" (click)="removeItem(product)">
                                    <ion-icon class="deleteItem" name="close-outline"></ion-icon>
                                </ion-button>
                            </p>
                        </div>

                        <div>
                            <p>Color: blue</p>
                            <p>Size: X </p>
                        </div>

                        <div class="price-quantity-wrapper">
                            <div class="price">
                                &euro; {{ product[0].product_price * product.units_on_order }}
                            </div>
                            <div class="quantity-add-sub">
                                <ion-button fill="clear" (click)=" reduceQuantity(product, productId)">
                                    <ion-icon name="remove-outline"></ion-icon>
                                </ion-button>
                                <span class="quantity-container ion-text-center">{{ product.units_on_order }}</span>
                                <ion-button fill="clear" (click)=" increaseQuantity(product, productId)">
                                    <ion-icon name="add-outline"></ion-icon>
                                </ion-button>
                            </div>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>

            <div class="cart_bottom">
                <div>
                    <p>TOTAL</p>
                    <p class="total-price">&euro; {{ getTotal() }}</p>
                </div>
                <div class="paypal-button-container">
                    <div id="paypal"></div>
                </div>
                <div *ngIf="paidFor">
                    <h1>Your product has been paid for</h1>
                </div>
            </div>
        </div>
    </div>

</ion-content>