<ion-app>
    <ion-content [fullscreen]="true">
        <div class="home-page-container">
            <ion-slides #slides class="firstSlide" pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesDidLoad(slider)" loop="true">
                <ion-slide>
                    <div class="slide-page-one ">
                        <img src="./../../assets/images/a1.png" />
                    </div>

                </ion-slide>

                <ion-slide>
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/a2.png" />
                    </div>
                </ion-slide>


                <ion-slide>
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/origin7.jpg" />
                    </div>

                </ion-slide>


                <ion-slide>
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/origin1.jpg" />
                    </div>

                </ion-slide>
            </ion-slides>



            <ion-slides #slides2 pager="true" class="sliderBelow" [options]="secondSlideOpts" (ionSlidesDidLoad)="slidesDidLoad2(slider)" loop="true">
                <ion-slide class="secondSlide">
                    <div class="slide-page-one">
                        <img src="./../../assets/images/shoe1.jpg" />
                    </div>

                </ion-slide>

                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/wallpaper1.jpg" />
                    </div>
                </ion-slide>


                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/shoe2.jpg" />
                    </div>

                </ion-slide>


                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/wallpaper2.jpg" />
                    </div>

                </ion-slide>


                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/shoe3.jpg" />
                    </div>

                </ion-slide>


                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/watch1.jpg" />
                    </div>

                </ion-slide>

                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/shoe4.jpg" />
                    </div>

                </ion-slide>


                <ion-slide class="secondSlide">
                    <div class="slide-page-two ">
                        <img src="./../../assets/images/watch2.jpg" />
                    </div>

                </ion-slide>
            </ion-slides>

            <!--Featured products-->

            <h2 class="ion-text-center">Featured products</h2>

            <div class="featured-products">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3" *ngFor="let product of products; index as productId">
                            <div class="displayed-image">
                                <ion-card>
                                    <ion-card-header>
                                        <img class="featuredProductsImages" [src]="'http://localhost/origin/src/public/images/' + imageArrays[productId][0]" />
                                        <ion-card-title>
                                            <h3>
                                                {{ product.product_name }}
                                            </h3>
                                        </ion-card-title>
                                    </ion-card-header>

                                    <ion-card-content>
                                        <ion-button class="ion-activatable ripple-parent" [routerLink]="['/products', productId]">
                                            Details
                                            <ion-ripple-effect></ion-ripple-effect>
                                        </ion-button>
                                    </ion-card-content>
                                </ion-card>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <ion-grid>
                <ion-row class="free-offers-borders">
                    <ion-col size="3">
                        <label>Only on Origin.com</label>
                    </ion-col>

                    <ion-col size="2">
                        <div class="origin-offers-container">
                            <div class="free-offers-icon-container">
                                <ion-icon name="airplane-outline"></ion-icon>
                            </div>
                            <div>
                                <p>FREE SHIPPING</p>
                                <small>(On orders over &euro;100)</small>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col size="2">
                        <div class="origin-offers-container">
                            <div class="free-offers-icon-container">
                                <ion-icon name="gift-outline"></ion-icon>
                            </div>
                            <div>
                                <p>SURPRISES</p>
                                <small>(We keep you guessing)</small>
                            </div>
                        </div>
                    </ion-col>

                    <ion-col size="2">
                        <div class="origin-offers-container">
                            <div class="free-offers-icon-container">
                                <ion-icon name="shirt-outline"></ion-icon>
                            </div>
                            <div>
                                <p>FREE SAMPLES</p>
                                <small>(We make you proud!)</small>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row class="men-women-container">
                    <ion-col size="6">
                        <div class="men">
                            <p><a href="#">SHOP MEN</a></p>
                            <div class="bottom-line-animation shrink-div"></div>
                        </div>
                    </ion-col>

                    <ion-col size="6">
                        <div class="women">
                            <p><a href="#">SHOP MEN</a></p>
                            <div class="bottom-line-animation shrink-div"></div>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row class="latest-arrivals">
                    <h2 class="ion-text-center">LATEST ARRIVALS</h2>
                </ion-row>

                <div class="swipeButton">
                    <button type="submit" class="swiper-button-prev swiper-button-blue" (click)="prev()"></button>
                    <button type="submit" class="swiper-button-next swiper-button-blue" (click)="next()"></button>
                </div>

                <ion-row>
                    <ion-slides #slides3 pager="true" class="thirdSlide" [options]="thirdSlideOpts">
                        <ion-slide class="thirdSlide-slide" *ngFor="let product of latestArrivals; index as productId">
                            <div class="slide-page-one">
                                <div>
                                    <div>
                                        <img class="featuredProductsImages" [src]="'http://localhost/origin/src/public/images/' + latestArrivalsImageArrays[productId][0] " />
                                    </div>

                                    <div>
                                        <h3>
                                            {{ product.product_name }}
                                        </h3>
                                    </div>
                                </div>

                                <div>
                                    <ion-button class="ion-activatable ripple-parent" [routerLink]="['/products', productId]">
                                        Details
                                        <ion-ripple-effect></ion-ripple-effect>
                                    </ion-button>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </ion-row>
                <ion-row>
                    <div class="solde-container">
                        <div class="solde-texts">
                            <h5> Discover Origin Soldes</h5>
                            <label class="ion-text-wrap">
                                Extensive mind blowing offers that would put smile to your faces.
                                Get yourself quality products at give away prices. Hurry!.
                            </label>
                            <ion-button class="ion-activatable ripple-parent">
                                SHOP NOW
                                <ion-ripple-effect></ion-ripple-effect>
                            </ion-button>
                        </div>
                        <div class="solde-design-box"></div>
                        <div class="outer-solde-image-container">
                            <div class="inner-solde-image-container">
                                1
                            </div>
                        </div>
                    </div>
                </ion-row>
            </ion-grid>

        </div>
        <app-admin-footer></app-admin-footer>
    </ion-content>
</ion-app>