<ion-content [fullscreen]="true">

    <ion-slides #slides class="firstSlide" pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesDidLoad(slider)" loop="true">
        <ion-slide>
            <div class="slide-page-one ">
                <img src="./../../assets/images/img1.jpg" />
            </div>

        </ion-slide>

        <ion-slide>
            <div class="slide-page-two ">
                <img src="./../../assets/images/img2.jpg" />
            </div>
        </ion-slide>


        <ion-slide>
            <div class="slide-page-two ">
                <img src="./../../assets/images/img3.jpg" />
            </div>

        </ion-slide>


        <ion-slide>
            <div class="slide-page-two ">
                <img src="./../../assets/images/img4.jpg" />
            </div>

        </ion-slide>
    </ion-slides>



    <ion-slides #slides2 pager="true" class="sliderBelow" [options]="secondSlideOpts" (ionSlidesDidLoad)="slidesDidLoad2(slider)" loop="true">
        <ion-slide class="secondSlide">
            <div class="slide-page-one">
                <img src="./../../assets/images/img1.jpg" />
            </div>

        </ion-slide>

        <ion-slide class="secondSlide">
            <div class="slide-page-two ">
                <img src="./../../assets/images/img2.jpg" />
            </div>
        </ion-slide>


        <ion-slide class="secondSlide">
            <div class="slide-page-two ">
                <img src="./../../assets/images/img3.jpg" />
            </div>

        </ion-slide>


        <ion-slide class="secondSlide">
            <div class="slide-page-two ">
                <img src="./../../assets/images/img4.jpg" />
            </div>

        </ion-slide>


        <ion-slide class="secondSlide">
            <div class="slide-page-two ">
                <img src="./../../assets/images/img4.jpg" />
            </div>

        </ion-slide>


        <ion-slide class="secondSlide">
            <div class="slide-page-two ">
                <img src="./../../assets/images/img4.jpg" />
            </div>

        </ion-slide>
    </ion-slides>

</ion-content>