ion-content ion-toolbar {
    --background: translucent;
}

.firstSlide {
    margin-top: 1vh;
    width: 100vw;
    height: 69vh;
    margin-bottom: 18px;
    img {
        width: 100%;
        height: 100%;
    }
}

.sliderBelow {
    margin: auto;
    width: 90%;
    height: 32vh;
    padding: 0px;
    .sliderBelow img {
        height: 100%;
    }
}

// Featured products starts here
.featured-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

p,
h3 {
    text-transform: capitalize;
}

.featuredProductsImages {
    height: 85px;
    width: 80%;
}

ion-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}

.home-page-container {
    margin-top: 71px;
    margin-bottom: 30px;
}

.origin-offers-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ion-icon {
        font-size: 2rem;
        color: rgb(255, 153, 0);
    }
}

.free-offers-borders {
    border-top: 1px solid green;
    border-bottom: 1px solid yellow;
    width: 90%;
    margin: auto;
    ion-col {
        margin-right: 5%;
    }
}

.free-offers-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 225, 255, 0.425);
    background: rgba(0, 225, 255, 0.425);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.men-women-container {
    width: 90%;
    margin: auto;
    .men {
        background: url('./../../assets/images/men1.jpg');
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        overflow: hidden;
    }
    .women {
        background: url('./../../assets/images/women1.jpg');
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.bottom-line-animation {
    width: 40%;
    border: 1px solid white;
}

// .bottom-line-animation
@keyframes shrink-div {
    0% {
        width: 40%;
    }
    25% {
        width: 30%;
    }
    50% {
        width: 20%;
    }
    75% {
        width: 10%;
    }
    100% {
        width: 8%;
    }
}

.shrink-div:hover {
    animation: shrink-div 3s ease;
    -webkit-animation: shrink-div 3s ease;
}

.thirdSlide {
    width: 90%;
    height: 55vh;
    margin: auto;
    img {
        height: 35vh;
    }
}

.latest-arrivals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solde-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 70vh;
    background-color: rgba(255, 192, 203, 0.623);
}

.solde-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40vh;
    position: relative;
    top: 3%;
    left: 15%;
}

.solde-design-box {
    width: 40%;
    height: 46vh;
    border: 1px solid pink;
    background-color: pink;
    align-self: center;
}

.outer-solde-image-container {
    width: 50%;
    height: 60vh;
    border: 1px solid yellow;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
}

.inner-solde-image-container {
    width: 86%;
    height: 55vh;
    border: 1px solid green;
    background-color: green;
}

.swipeButton {
    position: absolute;
    margin-top: 22vh;
    background-color: white;
    width: 92%;
    left: 4%;
}