<ion-content>

    <div class="settings-form">
        <div class="settings-list">
            <ion-list>
                <ion-list-header lines="inset">
                    <ion-label>
                        <h1>Account Settings</h1>
                    </ion-label>
                </ion-list-header>

                <ion-item lines="none">
                    <ion-label>
                        <a routerLink="/myaccount/payments" routerLinkActive="active">Manage Credit Cards</a>
                    </ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>
                        <a routerLink="/myaccount/profile" routerLinkActive="active">Manage My Information</a>
                    </ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>
                        <a routerLink="/myaccount/shipping-address" routerLinkActive="active">Manage Shipping Address</a>
                    </ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>
                        <a routerLink="/myaccount/profile/password" routerLinkActive="active">Change Password</a>
                    </ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>
                        <a routerLink="/myaccount/profile/email" routerLinkActive="active">Change Sign-In Email</a>
                    </ion-label>
                </ion-item>

            </ion-list>
        </div>

        <div class="myaccount-container">
            <div class="top-bars">
                <div class="first-div">
                    1
                </div>

                <div class="second-div">
                    2
                </div>

                <div class="third-div">
                    3
                </div>

                <div class="fourth-div">
                    4
                </div>

                <div class="fifth-div">
                    5
                </div>
            </div>

            <div>
                <h1>Recent Orders</h1>
            </div>

            <div class="order-table">
                <table>
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Order Date</th>
                            <th>Shipped By</th>
                            <th>Status</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="adress-email-container">
                <div>
                    <h3>My Information</h3>
                    <h5>Shipping Addresses:</h5>
                    <p>No shipping Addresses</p>
                    <p><a routerLink="/myaccount/shipping-address">Manage Address book ></a></p>
                </div>

                <div>
                    <h3>Email</h3>
                    <p>
                        < Email address here>
                    </p>
                    <p><a routerLink="/myaccount/profile/email/">Change E-mail ></a></p>

                    <h3>Phone Number:</h3>
                    <p>
                        < phone number here>
                    </p>
                    <p><a routerLink="/myaccount/profile/">Change Phone No. ></a></p>
                </div>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>