.myaccount-container {
    width: 70%;
    margin-right: 3%;
    // margin: 120px auto;
}

.adress-email-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-table {
    width: 100%;
    margin: 30px 0px;
    table {
        width: 100%;
    }
}

.top-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div {
        width: 10vw;
        height: 15vh;
        border: 1px solid white;
        border-top-width: 15px;
        background-color: gray;
        color: white;
    }
    .first-div {
        border-top-color: red;
    }
    .second-div {
        border-top-color: green;
    }
    .third-div {
        border-top-color: blue;
    }
}

.settings-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 120px;
    .settings-list {
        width: 18vw;
        border: 1px solid gray;
        // border-top: none;
    }
}

.card-container {
    width: 60vw;
    margin: auto;
}

// setting link properties to be used by routerLinkActive
ion-item ion-label .a {
    text-decoration: none;
}

ion-item ion-label a.active {
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}
.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 
* Media Queries for Mobile L - 425px
*/

@media screen and (max-width: 425px) {
    .top-bars {
        div {
            width: 33vw;
            height: 22vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
    }
    .myaccount-container, .settings-list {
        width: 100vw !important;
    }
    .settings-list {
        margin-top: -70px;
        margin-bottom: 10px;
    }
    .settings-form {
        flex-direction: column;
    }
    .orders {
        text-align: center;
    }
    thead tr {
        display: flex;
        flex-direction: column;
        border: 1px solid yellow;
        text-align: left;
        padding: 0px 10px;
    }
    thead tr th:not(:last-child) {
        margin: 10px 0px;
    }
    .recent-orders {
        text-align: center;
        background-color: yellowgreen;
        color: white;
    }
}

/* 
* Media Queries for Tablet - 768px
*/

@media screen and (min-width: 768px) {
    .top-bars {
        div {
            width: 18vw;
        }  
    }
    .myaccount-container {
        width: 65vw;
    }
    .settings-list {
        width: 29vw !important;
    }
    .recent-orders {
        text-align: center;
        background-color: yellowgreen;
        color: white;
    }
}