<ion-content>

    <div class="profile-container">
        <div class="profile-header">
            <h1 class="ion-text-center">Manage Account Information</h1>
            <div class="info-spacer">
                <small class="ion-text-wrap">To update settings, please fill in all required fields, and press the UPDATE button below.</small>
                <span><b style="color: red">*</b>required field</span>
            </div>
        </div>

        <div class="settings-form">
            <div class="settings-list">
                <ion-list>
                    <ion-list-header lines="inset">
                        <ion-label>
                            <h1>Account Settings</h1>
                        </ion-label>
                    </ion-list-header>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/payments" routerLinkActive="active">Manage Credit Cards</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/profile" routerLinkActive="active">Manage My Information</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/shipping-address" routerLinkActive="active">Manage Shipping Address</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/password" routerLinkActive="active">Change Password</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/email" routerLinkActive="active">Change Sign-In Email</a>
                        </ion-label>
                    </ion-item>

                </ion-list>
            </div>

            <div class="card-container">
                <div>
                    <h2 class="ion-text-center">Customer Information</h2>
                </div>

                <div class="ion-card-content">
                    <ion-card>
                        <form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="row-formater">
                                <ion-item>
                                    <ion-label position="floating">First Name<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="firstName" name="firstName" type="text"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">Last Name<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="lastName" name="lastName" type="text"></ion-input>
                                </ion-item>

                            </div>

                            <div>
                                <ion-item>
                                    <ion-label position="floating">Address<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="address" name="address" type="text"></ion-input>
                                </ion-item>
                            </div>

                            <div class="row-formater">
                                <ion-item>
                                    <ion-label position="floating">Country</ion-label>
                                    <ion-select formControlName="country" name="country">
                                        <ion-select-option *ngFor="let country of countries; index as countryId" [value]="country.code" selected>
                                            {{country.name_en}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>

                                <ion-item>
                                    <ion-label position="floating">City<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="city" name="city" type="text"></ion-input>
                                </ion-item>

                            </div>

                            <div>
                                <ion-item>
                                    <ion-label position="floating">Email<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="email" name="email" type="email"></ion-input>
                                </ion-item>
                            </div>

                            <div>
                                <ion-item>
                                    <ion-label position="floating">Phone<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                                    <ion-input formControlName="phone" name="phone" type="text"></ion-input>
                                </ion-item>

                            </div>

                            <ion-row>
                                <ion-col size="4">
                                    <ion-button type="submit" class="ion-activatable ripple-parent update-button" [disabled]="!profileForm.valid" expand="block">
                                        Update
                                        <ion-ripple-effect type="bounded"></ion-ripple-effect>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-card>
                </div>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>