.profile-container {
    margin-top: 120px;
    margin-bottom: 30px;
}

.row-formater {
    display: flex;
    justify-content: space-between;
}

.profile-header {
    border-bottom: 1px solid gray;
    .info-spacer {
        display: flex;
        justify-content: space-between;
        small {
            width: 80%;
        }
        span {
            width: 15%;
        }
    }
}

.ion-card-content {
    width: 52vw;
    margin: auto;
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .update-button {
        --background: #9E15BF !important;
        --border-radius: 50px !important;
        --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
    }
    ion-card {
        width: 50vw;
        margin: auto;
        margin-bottom: 10px;
    }
}

.settings-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .settings-list {
        width: 18vw;
        border: 1px solid gray;
        border-top: none;
    }
}

.card-container {
    width: 60vw;
    margin: auto;
}

// setting link properties to be used by routerLinkActive
a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

a.active {
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

/* 
* Media Queries for Mobile L - 425px
*/

@media screen and (max-width: 425px) {
    .card-container {
        width: 100vw !important;
    }
    .settings-list {
        width: 100vw !important;
        border: none !important;
    }
    .profile-header {
        width: 100vw !important;
    }
    .info-spacer {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    span {
        width: 40vw !important;
    }
    .profile-container {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .settings-form {
        flex-direction: column;
    }
    .ion-card-content {
        width: 96vw;
    }
    ion-card {
        width: 94vw !important;
    }
}


/* 
* Media Queries for Tablet - 768px
*/

@media screen and (min-width: 768px) {
   
}

/* 
* Media Queries for Laptop L - 1440px
*/

@media screen and (min-width: 1440px) {
   
}

/* 
* Media Queries for Laptop - 1024px
*/

@media screen and (min-width: 1024px) {
    p, ion-label, ion-select {
        font-size: 1.7rem !important;
    }
    .row-formater ion-label {
        margin-bottom: 40px;
    }
 }

 /* 
* Media Queries for 4K - 2560px
*/

@media screen and (min-width: 2560px) {
    p, ion-label, ion-select {
        font-size: 3rem !important;
    }
    .row-formater ion-label {
        margin-bottom: 40px;
    }
 }