<ion-content>
  <div>
    <ion-list>
      <ion-list-header lines="full">
        <h1>Return Policy</h1>
      </ion-list-header>
      <ion-item>
          <ion-text>
            <p>
              If you are unsatisfied with your purchase and would like to request a return for exchange or 
              store credit (requirements must be met), please follow these guidelines below.
            </p>
            <h5>Sales</h5>
            <p>
              All sales are final and only qualify for a return if your item(s) is damaged/defective from 
              the manufacturer or you were sent the wrong item. There are no refunds. Shipping and handling 
              fees are also non-refundable, including all refused and unaccepted packages. Items must be in 
              their original condition (unwashed, unworn) with the original packaging to receive store 
              credit or an exchange
            </p>
            <h5>DAMAGED/DEFECTIVE</h5>
            <p>
              Damaged or defective items may be returned for store credit or an exchange may be provided.
              Please contact us to notify us within 5 business days from the delivered date if any items 
              are damaged or defective.
              When contacting us regarding a damaged or defective item(s), please provide to us pictures 
              of the damage (close-up and full shot), your invoice number, style number, color, size, and 
              number of damaged or defective item(s). It can take 1-3 business days to investigate. However, 
              it may take a bit longer as the investigation time depends on the vendor.
              The final RA approval will be done by the vendor.
            </p>
            <h5>INCORRECT ITEM(S)</h5>
            <p>
              Please contact us within 5 business days from the delivered date.

              Store credit: If the vendor approves, we will send you a return label and process a store 
              credit for the wrong item once it has been received.
              Correct item to be reshipped: We will work with the vendor to arrange a reshipment for you. 
              This will be based on product availability. If the product is no longer available, store credit 
              will be applied. Items that are sent outside of its original condition/packaging will not be 
              accepted by the vendors and will not be eligible for store credit. <br /> <br />
              If you have any other questions about the return policy, you can contact us directly. <br /> <br />
              Tel. +33-75-45-00-00 
            </p>
          </ion-text>
      </ion-item>
    </ion-list>
  </div> 
</ion-content>
