ion-content {
    --background: black;
    color: white;
    height: 350px;
    .accordion-title {
        color: yellowgreen;
    }
}

.accordion-list {
    padding: 0px;
    margin: 0px;
    .section,
    .section-active {
        --min-height: 58px;
    }
}

.section {
    --ion-item-background: black;
    --ion-item-color: white;
}

.section-active {
    --ion-item-background: #AD2266;
    --ion-item-color: #fff;
    font-weight: 600;
}

.child-list {
    padding: 0px;
    margin: 0px;
    .child,
    .child-active {
        margin-bottom: 2px;
    }
}

.child-active {
    --ion-item-background: #fad86b;
    --ion-item-color: #fff;
    ion-icon {
        color: #fff;
    }
}

.child {
    --ion-item-background: black;
    --ion-item-color: white;
}

a {
    text-decoration: none;
    color: white;
}

.down-arrow,
.up-arrow {
    color: white;
}

ion-grid {
    color: white;
}

.socials {
    color: #AD2266 !important;
    font-size: 40px;
    border-radius: 50%;
}
