ion-content {
    margin: 0px !important;
    padding: 0px !important;
    .sidemenu_list {
        margin-left: -20px !important;
        padding: 0px !important;
    }
}

.cart-icon {
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.item-badge {
    background-color: brown;
    margin-left: 8px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.topBarContents {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.signin {
    margin-right: 10%;
    text-align: center;
}

// categories start
.categories {
    width: 115px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(128, 128, 128);
}

.categories_link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ion-avatar {
    font-size: 2rem;
}

.catItems {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    ion-label {
        margin-top: -25px;
    }
}

.ionItems {
    --background: rgb(128, 128, 128);
    p {
        text-transform: capitalize;
    }
}