<!-- I wrapped the contents in ion-content and set it's overflow-y in css to auto to help add scrolling-->
<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1" type="overlay" swipe-gesture="true">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title></ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content id="sidemenu">

            <!--accordion usage-->
            <ion-list *ngFor="let item of categories; let i = index" detail="false" no-padding>
                <ion-item tappable (click)="item.toggle = !item.toggle" class="panel-heading cursorPointer">
                    <ion-icon slot="end" class="down-arrow" name="add-outline" [hidden]="!item.toggle"></ion-icon>
                    <ion-icon slot="end" class="up-arrow" name="remove-outline" [hidden]="item.toggle"></ion-icon>
                    <ion-label>
                        <a class="accordion-link" [routerLink]="[item.category_name]">{{item.category_name | uppercase}}</a>
                    </ion-label>
                </ion-item>


                <ion-menu-toggle auto-hide="true">
                    <div [hidden]="item.toggle" class="panel-body">
                        <ion-list *ngFor="let child of subCategories; let j = index;" lines="none" class="child-list">
                            <ion-item tappable>
                                <ion-label>
                                    <a class="accordion-link" [routerLink]="[item.category_name + '/' + child.subcategory_name]">{{child.subcategory_name}}</a>
                                </ion-label>
                            </ion-item>

                        </ion-list>
                    </div>
                </ion-menu-toggle>
            </ion-list>


            <!--End of accordion usage-->

            <ion-menu-toggle auto-hide="true">
                <ng-container *ngIf="categories[0] && loginStatus === 'Admin'">
                    <nav class="sidemenu_list">
                        <h3>
                            <a routerLink="/administration-panel">Dashboard</a>
                        </h3>

                        <p>
                            <a class="admin-links" routerLink="/administration-panel/add-products/0" routerLinkActive="active">Add Product</a>
                        </p>

                        <p>
                            <a class="admin-links" routerLink="/administration-panel/add-categories/0" routerLinkActive="active">Add Category</a>
                        </p>

                        <p>
                            <a class="admin-links" routerLink="/administration-panel/add-suppliers/0" routerLinkActive="active">Add Supplier</a>
                        </p>

                        <p>
                            <a class="admin-links" routerLink="/administration-panel/add-subcategory/0" routerLinkActive="active">Add SubCategory</a>
                        </p>
                    </nav>
                </ng-container>
            </ion-menu-toggle>

        </ion-content>
    </ion-menu>

    <ion-header>
        <ion-toolbar color="dark">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                <ion-row>
                    <ion-col  offsetLg="5" sizeLg="6" sizeMd="8" offsetMd="2" sizeXs="8">
                        <div class="topBar">
                            <nav class="topBarContents">
                                <div>
                                    <a class="signin-link" routerLink="/contact" routerLinkActive="active">
                                        Contact Us
                                    </a>
                                </div>

                                <div>
                                    <a class="signin-link" routerLink="/about-us" routerLinkActive="active">
                                        About Us
                                    </a>
                                </div>

                                <div>
                                    <a class="signin-link signin" routerLink="/register-login" routerLinkActive="active">
                                        Sign in
                                    </a>
                                </div>

                                <div *ngIf="'Admin' === loginStatus">
                                    <a class="signin-link" routerLink="/administration-panel" routerLinkActive="active">
                                        Admin
                                    </a>
                                </div>

                                <div class="cart-container">
                                    <a routerLink="/cart">
                                        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
                                    </a>
                                    <div>
                                        <span color="primary" class="item-badge">{{ cartItemCount | async }}</span> <br />
                                    </div>
                                </div>
                            </nav>
                        </div>

                    </ion-col>
                </ion-row>

            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>