ion-content {
    margin: 0px !important;
    padding: 0px !important;
    .sidemenu_list {
        margin-left: 5px !important;
        padding: 0px !important;
    }
}

ion-list,
ion-item {
    margin: 0px;
    padding: 0px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 55px;
    .cart-icon {
        font-size: 4.5rem;
        cursor: pointer;
        color: white;
    }
}

.item-badge {
    color: yellow;
    // margin-left: 8px;
    // margin-top: 10px;
    position: absolute;
    top: 12px;
    left: 589px;
    // font-size: 1.5rem;
}

.signin-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.admin-links {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.admin-links:hover {
    color: blue;
    text-decoration: underline;
}

.admin-links:active {
    color: orange;
    text-decoration: underline;
}

.topBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topBarContents {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    a {
        margin-left: 10px;
    }
}

.signin {
    margin-right: 10%;
    text-align: center;
}

// categories start
.categories {
    width: 115px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.categories_link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ion-avatar {
    font-size: 2rem;
}

.catItems {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    ion-label {
        margin-top: -25px;
    }
}

.ionItems {
    //  --background: rgb(128, 128, 128);
    p {
        text-transform: capitalize;
    }
}

// Accordion
.cursorPointer {
    cursor: pointer;
}

.accordion-link {
    color: black;
    text-decoration: none;
}

.accordion-link:hover {
    color: black;
    text-decoration: underline;
}

// setting link properties to be used by routerLinkActive
nav div a.visited {
    color: #607D8B;
}

nav div a.hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav div a.active {
    color: #039be5;
}

ion-row {
    width: 100%;
}

/* 
* Media Queries for Mobile L - 425px which covers also for Mobile S - 320px and Mobile M - 375px
*/

@media screen and (max-width: 425px) {
    ion-row {
        font-size: 12px;
    } 
    .cart-container {
        width: 60px;
        height: 50px;
        position: absolute;
        left: 55vw;
        .item-badge {
            position: relative;
            top: -5px;
            left: -25px;
        }
        .cart-icon {
            font-size: 3rem;
        }
    }
    
}