<ion-content>

    <div class="add-product-container">
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Add Product</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <form [formGroup]="addProductForm" novalidate (ngSubmit)="submitForm()" enctype="multipart/form-data">
                    <ion-item>
                        <ion-label position="floating">Product Name<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="productName" name="productName" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Product Description<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-textarea formControlName="productDesc" name="productDesc" type="text" rows="6" cols="20"></ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Product Number<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="productNumber" name="productNumber" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Selling Price<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="sellingPrice" name="sellingPrice" type="number" min="1"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">Cost Price<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="costPrice" name="costPrice" type="number"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Product Quantity<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="productQty" name="productQty" type="number" min="1"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Product Discount<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                        <ion-input formControlName="productDiscount" name="productDiscount" type="number" min="1"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Product Featured </ion-label>
                        <ion-checkbox formControlName="productFeatured" name="productFeatured"></ion-checkbox>
                    </ion-item>

                    <ion-item-group>
                        <div class="form-group">
                            <div class="upload-image">
                                <div *ngIf="uploadResponse">
                                    <div class="product-images-wrapper">
                                        <div *ngFor="let upload of imageArr; index as imageID" class="displayed-image">
                                            <img [src]="'http://localhost/origin/src/public/images/' + upload" width="40px" />
                                        </div>
                                    </div>
                                </div>
                                <div class="browse-btn">
                                    <input type="file" name="productImages" id="cameraImg" (change)="onFileSelect($event)" multiple />
                                    <div class="browse-image">
                                        <img src="./../../../assets/images/upload_image.jpg" width="40px" />
                                        <p>Browse image</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ion-item>
                            <ion-label position="floating">Colors<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                            <ion-input formControlName="colors" name="colors" type="text"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Sizes<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                            <ion-input formControlName="sizes" name="sizes" type="text"></ion-input>
                        </ion-item>
                    </ion-item-group>

                    <ion-row>
                        <ion-col size="4">
                            <ion-item>
                                <ion-label position="floating">Category</ion-label>
                                <ion-select formControlName="productCategory" name="productCategory">
                                    <ion-select-option *ngFor="let category of productCategories; index as categoryId" [value]="category.category_id" selected>
                                        {{ category.category_name }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>

                        <ion-col size="4">
                            <ion-item>
                                <ion-label position="floating">SubCategory</ion-label>
                                <ion-select formControlName="productSubCategory" name="productSubCategory">
                                    <ion-select-option *ngFor="let subCategory of subCategories; index as subCategoryId" [value]=" subCategory.subcategory_id" selected>
                                        {{ subCategory.subcategory_name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>

                        <ion-col size="4">
                            <ion-item>
                                <ion-label position="floating">Supplier</ion-label>
                                <ion-select formControlName="productSupplier" name="productSupplier">
                                    <ion-select-option *ngFor="let supplier of productSuppliers; index as supplierId" [value]="supplier.supplier_id" selected>
                                        {{ supplier.company_name }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-item>
                        <ion-label>Promo</ion-label>
                        <ion-checkbox formControlName="promo" name="promo"></ion-checkbox>
                    </ion-item>

                    <ion-item>
                        <ion-label>Product Available</ion-label>
                        <ion-checkbox formControlName="available" name="available"></ion-checkbox>
                    </ion-item>

                    <div>
                        <ion-button class="ion-activatable ripple-parent add-product-button" expand="block" type="submit" [disabled]="addProductForm.pristine || addProductForm.invalid">
                            Add Product
                            <ion-ripple-effect type="bounded"></ion-ripple-effect>
                        </ion-button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>