.add-product-container {
    margin-top: 72px;
    ion-card {
        width: 90%;
        margin: auto;
    }
}

.add-product-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}