<ion-content>
    <div class="edit-categories-container">
        <form>
            <ion-grid>
                <ion-row>

                    <ion-col>
                        <ion-label>Category Id</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Category Name</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Category Description</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>Actions</ion-label>
                    </ion-col>

                </ion-row>

                <ion-row *ngFor="let category of categories; index as categoryId">

                    <ion-col>
                        <ion-label>{{category.id}}</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>{{category.category_name}}</ion-label>
                    </ion-col>

                    <ion-col>
                        <ion-label>{{category.category_description}}</ion-label>
                    </ion-col>

                    <ion-col>
                        <div class="actions-button">
                            <ion-button color="danger">Delete</ion-button>
                            <ion-button color="secondary">Modify</ion-button>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </form>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>