.centerFormContents {
    margin: 120px auto;
    padding: 10px 0px;
    width: 50vw;
    background-color: gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .closeFormIcon {
        font-size: 3rem;
    }
    .centering-items {
        width: 80%;
        margin: auto;
        .horizontal-separator {
            width: 50vw;
            border: 1px solid white;
        }
    }
}

.accountSteps {
    display: flex;
    align-items: center;
}

.accountSteps>div:nth-child(odd) {
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid palevioletred;
    color: white;
}

.accountSteps>div:nth-child(even) {
    width: 30vw;
    height: 1px;
    border: 1px solid yellow;
}

.activeTab {
    background-color: palevioletred;
}

small {
    color: yellow;
}

.formIntroText {
    line-height: 1.6rem;
    color: white;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: yellowgreen;
    cursor: pointer;
}

.next_button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}

.back_button {
    --border-radius: 50px !important;
    --border: 1px solid yellow !important;
}