<ion-content>
    <div class="centerFormContents">
        <div class="centering-items">
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <p class="formIntroText">Customer Registration</p>
                    </ion-col>

                    <ion-col size="1">
                        <div class="closeRegisterForm">
                            <a routerLink="/account-setup">
                                <ion-icon class="closeFormIcon" name="close-circle-outline"></ion-icon>
                            </a>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <div class="horizontal-separator"></div>
                </ion-row>

                <ion-row>
                    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
                        <p class="formIntroText">Create your account and discover Origin, the great shopping site that delivers original products to your doorstep
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="accountSteps" size="8">
                        <div class="activeTab">1</div>
                        <div></div>
                        <div class="activeTab">2</div>
                        <div></div>
                        <div>3</div>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-col size="6">
                        <small>Account Info</small>
                    </ion-col>
                </ion-row>

            </ion-grid>

            <form [formGroup]="accountInfoForm" novalidate (ngSubmit)="onSubmit()">
                <ion-item>
                    <ion-label position="floating">First Name<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                    <ion-input formControlName="firstName" name="firstName" autofocus="true" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Last Name<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                    <ion-input formControlName="lastName" name="lastName" type="text"></ion-input>
                </ion-item>

                <div class="ion-margin-top">
                    <ion-row class="ion-justify-content-between">
                        <ion-col size="4">
                            <ion-button class="ion-activatable ripple-parent back_button" expand="block" type="submit" (click)="clickedBackButton()" fill="outline" routerLink="/account-setup">
                                Back
                                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                            </ion-button>
                        </ion-col>

                        <ion-col size="4">
                            <ion-button class="ion-activatable ripple-parent next_button" expand="block" type="submit" (click)="guardRoute()" [disabled]="accountInfoForm.pristine || accountInfoForm.invalid" routerLink="/contact-info">
                                Next
                                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
            </form>
        </div>

    </div>
</ion-content>