<div>
    <div class="footer-header">
        <div>
            Start your
            <ion-icon name="cart-outline"></ion-icon> adventure with Us.
        </div>
    </div>
    <div class="footer-body">
        <div>
            <div>
                <h6>Contact Us</h6>
                <div>
                    <div>
                        <ion-chip class="contact">
                            <ion-icon name="call-outline"></ion-icon>
                            <ion-label>07 82 22 55 00</ion-label>
                        </ion-chip>
                    </div>
                    <div>
                        <ion-chip class="contact">
                            <ion-icon name="logo-github"></ion-icon>
                            <ion-label>Github</ion-label>
                        </ion-chip>
                    </div>

                </div>

            </div>

            <div class="website-logo-container">
                <p>
                    <ion-icon name="beaker-outline" class="website-logo"></ion-icon>
                    <span class="website-logo-name">Origin</span>
                </p>

            </div>

        </div>

        <!-- Second div starts here-->
        <div class="navigation-menu">
            <h6>Main navigation</h6>
            <div>
                <nav>
                    <a routerLink="/tabs/tab1" routerLinkActive="active">Home</a>
                    <a routerLink="/about-us" routerLinkActive="active">About Us</a>
                    <a routerLink="/terms-and-conditions" routerLinkActive="active">Policy</a>
                    <a routerLink="/tabs/tab2" routerLinkActive="active">Shop</a>
                    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </nav>
            </div>
        </div>

        <!--Third div starts here-->
        <div>
            <h6 class="ion-text-center">WE ACCEPT</h6>
            <p class="ion-text-wrap ion-text-center">We safely and securely accept the following forms of payments</p>
            <div class="payment-cards">
                <div><img src="./../../../assets/images/visa.jpg" alt="visa credit card image" /></div>
                <div><img src="./../../../assets/images/master.jpg" alt="master card image" /></div>
                <div><img src="./../../../assets/images/paypal.jpg" alt="paypal card image" /></div>
                <div><img src="./../../../assets/images/maestro.jpg" alt="maestro card image" /></div>
            </div>

            <div>
                <div class="verified-image">
                    <img src="./../../../assets/images/verify2.jpg" alt="card verify image" />
                </div>
            </div>
        </div>

        <!--Fourth div starts here-->
        <div class="brands">
            <h6 class="ion-text-center">BRANDS</h6>
            <div class="brands-logos">
                <div><img src="./../../../assets/images/lacoste.jpg" alt="lacoste logo" /></div>
                <div><img src="./../../../assets/images/louis-vitton.jpg" alt="louis vitton logo" /></div>
                <div><img src="./../../../assets/images/nike.jpg" alt="nike logo" /></div>
            </div>

            <div class="brands-logos">
                <div><img src="./../../../assets/images/puma.jpg" alt="puma logo" /></div>
                <div><img src="./../../../assets/images/versace.jpg" alt="versace logo" /></div>
                <div><img src="./../../../assets/images/adidas.jpg" alt="adidas logo" /></div>
            </div>
            <div>
                <p class="ion-text-center">Origin Services</p>
                <p class="ion-text-center"><span>Web design </span> by <span>K.MGBAMS</span></p>
            </div>
        </div>
    </div>

    <div class="ion-item-divider"></div>
    <div class="social-network">
        <div class="logos">
            <div>
                <ion-icon name="logo-github"></ion-icon>
            </div>
            <div>
                <ion-icon name="logo-linkedin"></ion-icon>
            </div>
            <div>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
            <div>
                <ion-icon name="logo-twitter"></ion-icon>
            </div>
        </div>

        <div class="copyright">
            <p class="ion-text-end">&#xA9; Copyright 2020: All rights reserved</p>
        </div>
    </div>
</div>