.edit-customer-container {
    margin-top: 73px;
}

.actions-button {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.country-phone {
    display: flex;
    justify-content: space-between;
}