.edit-customer-container {
    margin-top: 120px;
}

.actions-button {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.country-phone {
    display: flex;
    justify-content: space-between;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}