<ion-content>
    <div class="centerFormContents">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <p>Send Email for resetting password</p>
                </ion-col>

                <ion-col size="1">
                    <div class="closeRegisterForm">
                        <a routerLink="/register-login">
                            <ion-icon class="closeFormIcon" name="close-circle-outline"></ion-icon>
                        </a>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">

            <ion-item>
                <ion-label position="floating">Enter Email<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="personalEmail" name="personalEmail" type="email"></ion-input>
            </ion-item>

            <div class="ion-margin-top">
                <ion-row class="ion-justify-content-between">
                    <ion-col>
                        <ion-button class="ion-activatable ripple-parent" [disabled]="!forgetPasswordForm.valid" expand="block" type="submit" routerLink="/contact-info">
                            Password Reset Email
                            <ion-ripple-effect type="bounded"></ion-ripple-effect>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
            <div>
                <p>Forgot Email/Username?</p>
                <p><small>Please call +33-75-78-00-00</small></p>
            </div>
        </form>
    </div>
</ion-content>