<ion-content>
    <div class="forgot-password-container">
        <div class="centerFormContents">
            <div class="header-section">
                <div class="assistance">
                    <h1>Password Assistance</h1>
                </div>

                <div class="closeRegisterForm">
                    <a routerLink="/register-login">
                        <ion-icon class="closeFormIcon" name="close-circle-outline"></ion-icon>
                    </a>
                </div>
            </div>

            <div class="explanation">
                <ion-label class="ion-text-wrap">
                    Enter the e-mail address you registered<br />
                    with Origin.com.!
                </ion-label>
            </div>

            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">

                <ion-item>
                    <ion-label position="floating">Email Address<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                    <ion-input formControlName="personalEmail" name="personalEmail" type="email"></ion-input>
                </ion-item>

                <div class="ion-margin-top">
                    <ion-row class="ion-justify-content-between">
                        <ion-col size="2">
                            <ion-button class="ion-activatable ripple-parent" [disabled]="!forgetPasswordForm.valid"  type="submit" routerLink="/contact-info">
                                Continue
                                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
                <div>
                    <p>Forgot Email/Username?</p>
                    <p><small>Please call +33-78-22-25-500</small></p>
                </div>
            </form>
        </div>

        <div class="forgot-description">
            <div class="center-items">
                <ion-label class="ion-text-wrap ion-text-center">
                Enter the e-mail address you registered
                with Origin.com.!

                E-mail Address (ID)*
                Enter the e-mail address you registered with OrangeShine.com,
                then click Continue. We'll email you a link to a page where you can easily
                create a new password.
            </ion-label>
            <p>Has your e-mail address changed?</p>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>