.forgot-password-container {
    margin-top: 90px;
    display: flex;
    margin-bottom: 40px;
    .centerFormContents {
        border-right: 1px solid gray;
        padding-left: 20px;
        width: 50vw;
        display: flex;
        flex-direction: column;
        .closeFormIcon {
            font-size: 3rem;
        }
        .header-section {
            display: flex;
            justify-content: space-between;
            .assistance {
                width: 70%;
            }
            .closeRegisterForm {
                width: 10%;
            }
        }
    }
    .activeTab {
        background-color: palevioletred;
    }
    small {
        color: palevioletred;
    }
    .formIntroText {
        line-height: 1.6rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.forgot-description {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .center-items {
        width: 30vw;
        a {
            color: #86C232;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.explanation {
    position: relative;
    top: 30px;
}

h1 {
    color: #86C232;
}

form {
    margin-top: 45px;
}

ion-button {
    --background: #9E15BF !important;
    --border-radius: 50px !important;
    --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
}