<ion-content>
    <div class="password-container">
        <div class="profile-header">
            <h1>Change Password</h1>
            <small>Create a secure password that meets below rules for your security.</small>
            <ul>
                <li>Betweeen 8 to 20 characters</li>
                <li>At least one lower case character</li>
            </ul>
        </div>

        <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label position="floating">Current Password<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="currentPassword" name="currentPassword" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">New Password<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="newPassword" name="newPassword" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Confirm Password<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                <ion-input formControlName="confirmPassword" name="confirmPassword" type="password"></ion-input>
            </ion-item>

            <div class="ion-margin-top">
                <ion-row>
                    <ion-col size="4">
                        <ion-button class="ion-activatable ripple-parent update-button" [disabled]="!changePasswordForm.valid" expand="block" type="submit">
                            Submit
                            <ion-ripple-effect type="bounded"></ion-ripple-effect>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </form>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>