.password-container {
    margin-top: 70px;
    .profile-header {
        p {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        ul {
            list-style-type: square;
            color: red;
            width: 25vw;
            margin: auto;
        }
    }
}

.ion-card-content {
    width: 52vw;
    margin: 30px auto;
    padding: 12px 0px;
    background-color: yellowgreen;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .submit-button {
        --background: #9E15BF !important;
        --border-radius: 50px !important;
        --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
    }
    ion-card {
        width: 50vw;
        margin: auto;
        margin-bottom: 10px;
    }
}

.settings-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .settings-list {
        width: 18vw;
        border: 1px solid gray;
    }
}

// setting link properties to be used by routerLinkActive
a.active {
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.errorMessages {
    margin: 15px 0px;
    background-color: yellow;
    color: red;
}

/* 
* Media Queries for Mobile L - 425px
*/

@media screen and (max-width: 425px) {
    small {
        font-size: 1rem !important;
    }
    .profile-header {
      width: 100vw;
        ul {
            width: 100vw !important;
            margin-bottom: 20px;
        }
    }
    .settings-form {
        flex-direction: column;
    }
    .ion-card-content, .settings-list {
        width: 98vw !important;
        margin:  0px auto !important;
    }
    .settings-list {
        border: none !important;
        margin-top: 20px;
    }
    ion-card {
        width: 90vw !important;
    }
}


/* 
* Media Queries for Tablet - 768px
*/

@media screen and (min-width: 768px) {
  ul {
      width: 45vw !important;
      margin-bottom: 20px !important;
      font-size: 1.2rem;
  }
  .settings-list {
      width: 32vw !important;
  }
  .ion-card-content {
      width: 65vw;
  }
  small {
    font-size: 1.2rem !important;
  }
  ion-card {
    width: 60vw !important;
  }
}

/* 
* Media Queries for Laptop L - 1440px
*/

@media screen and (min-width: 1440px) {
    .settings-list {
        width: 27vw !important;
    }
    ul, small {
        font-size: 3rem !important;
    }
    ion-label {
        font-size: 4rem !important;
    }
    .ion-card-content {
        width: 54vw;
    }
    ion-card {
        width: 50vw !important;
    }
}

/* 
* Media Queries for Laptop - 1024px
*/

@media screen and (min-width: 1024px) {
    .settings-list {
        width: 30vw !important;
    }
    ul, small {
        font-size: 1.7rem !important;
    }
    ion-label {
        font-size: 1.4rem !important;
    }
 }

 /* 
* Media Queries for 4K - 2560px
*/

@media screen and (min-width: 2560px) {
    .password-container {
        margin-top: 200px;
    }
    .settings-list {
        width: 26vw !important;
    }
    ul, small, h1 {
        font-size: 4rem !important;
    }
    ion-label {
        font-size: 3rem !important;
    }
    .ion-card-content {
        width: 58vw;
    }
    ion-card {
        width: 50vw !important;
        ion-label {
            margin-bottom: 40px !important;
        }
        ion-icon {
            font-size: 4rem;
        }
    }
 }