<ion-content>
    <div>
        <ion-list>
            <ion-list-header>
                <h1>Terms of Service</h1>
            </ion-list-header>
            <ion-item lines="full">
                <ion-text>
                    Origin.com knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy. By visiting Origin.com, you are accepting the practices described
                    in this Privacy Notice. Origin ("www.origin.com" and “www.origin.com”) provides you with access to our website subject to your acceptance of these Terms of Use and our Privacy Policy. You accept these terms and our Privacy Policy when
                    you access and use our websites at http://www.origin.com and http://www.origin.com (each a “Site”). This document is a legally binding agreement between you as the user(s) of the Site (referred to as “you”, “your” or “User” hereinafter)
                    and the Origin entity (referred to as “we”, “our” or “Origin.com” hereinafter) Your use of the Sites and Origin’s services, software and products (collectively the as the “Services” hereinafter) is subject to the terms and conditions
                    contained in this document as well as the Privacy Policy , the Product Listing Policy and any other rules and policies of the sites that Origin may publish from time to time. This document and such other rules and policies of the sites
                    are collectively referred to below as the “Terms”. By accessing the Sites or using the Services, you agree to accept and be bound by the Terms. Please do not use the Services or the Sites if you do not accept all of the Terms. You
                    may not use the Services and may not accept the Terms if (a) you are not of legal age to form a binding contract with Origin.com, or (b) you are not permitted to receive any Services under the laws of the United States or other countries
                    / regions including the country / region in which you are resident or from which you use the Services. You acknowledge and agree that Origin.com may amend any Terms at any time by posting the relevant amended and restated Terms on
                    the Sites. By continuing to use the Services or the Sites, you agree that the amended Terms will apply to you. You may be required to enter into a separate agreement, whether online or offline, with Origin.com or affiliate for any
                    Service (“Additional Agreements”). If there is any conflict or inconsistency between the Terms and an Additional Agreement, the Additional Agreement shall take precedence over the Terms only in relation to that Service concerned. The
                    Terms may not otherwise be modified except in writing by an authorized officer of Origin.com.
                </ion-text>
            </ion-item>

            <div class="different-terms">
                <ion-list-header>
                    <h4>LAWFUL USE OF WEBSITE</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        You agree to abide by all applicable laws regarding use of our websites and services, and not to use our website to engage in antisocial, disruptive or destructive acts. You may not post, link or upload any material that is harmful to our user's computers
                        or objectionable, in our sole discretion, including content that is obscene, indecent, defamatory, hateful or intolerant in nature. You may not publish content that constitutes "junk mail", "spam", or "phishing".You may not upload
                        commercial content on the Site or use Site to solicit others to join or become members of any other online service or other organization. We may report any activity that may violate the law to officials, regulators or other third parties,
                        and we may do so without prior notice to you. You agree to provide true, accurate, current, and complete information about you as prompted during the registration process for any our Service, and to maintain and update the information,
                        when necessary, to keep it accurate. You are responsible for maintaining the confidentiality of any account numbers and passwords assigned to you or input by you, and you agree to be fully responsible for all activities that occur
                        through anyone's use of your password or account numbers, whether or not authorized by you. You agree to notify Origin immediately if you become aware of any unauthorized use of your password or account or any other breach of security
                        related to our Service.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>INTELLECTUAL PROPERTY</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Copyright, Trademark and Disclaimer Notices Origin.com is the sole owner or lawful licensee of all the rights and interests in the Sites and the Site Content including, but not limited to, text, design, graphics, logos, files, images, photos, video, software,
                        code, and other proprietary content. The Sites and Site Content embody trade secrets and other intellectual property rights protected under worldwide copyright and other laws. All title, ownership and intellectual property rights in
                        the Sites and Site Content shall remain with Origin.com, our affiliates or licensors of the Site Content, as the case may be. "Origin", "Origin.com" and related icons and logos are registered trademarks or trademarks or service marks
                        of Origin and related icons and logos are registered trademarks or trademarks or service marks of Origin.com, in various jurisdictions and are protected under applicable copyright, trademark and other proprietary rights laws. The unauthorized
                        copying, modification, use or publication of these marks is strictly prohibited. Origin may have independent third parties involved in the provision of the Services (e.g., the authentication and verification service providers). You
                        may not use any trademark, service mark or logo of such independent third parties without prior written approval from such parties. The "Origin.Com" name and logo are registered trademarks. Permission is granted to electronically copy
                        and print hard copy portions of this site for purchased products. While following any expressly stated restrictions or limitations relating to specific material, download or print portions of the material from the different areas of
                        the site solely for your own non-commercial use. Any other use, including but not limited to the reproduction, distribution, display or transmission of the content of this is strictly prohibited, unless authorized by Origin. You further
                        agree not to change or delete any proprietary notices from materials downloaded from the site. By posting any products for sale on the Origin.com website, all third-party vendors are warranting that they own any copyright associated
                        with such products or designs, have appropriate licenses to such products or designs, and/ or are otherwise lawfully able to sell such products or designs. If Origin is alerted to a potential copyright infringement claim regarding
                        any products or designs posted on the Origin.com website, Origin reserves the right to remove such material from teh website, at its discretion. Third-party vendors who are found to be repeat infringers of third-parties' copyright
                        rights are subject to having their rights to use the Origin.com terminated.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>ELECTRONIC COMMUNICATIONS</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        When you use any Origin Service, or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically upon registration. We will communicate with you by e-mail or by posting notices on this
                        site or through the other Origin Services. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>PRODUCT DESCRIPTIONS</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Origin provides a platform for the third-party vendors and you to negotiate and complete transactions. All products descriptions are published by the third-party vendor who lists the product on our platform. Origin does not warrant that product descriptions
                        or other content of any Origin Service is accurate, complete, reliable, current, or error-free. If a product offered is not as described, you are to address with the third-party vendor who listed the product.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>PRICING FOR PRODUCTS AND SERVICES</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Despite our best efforts, a small number of the items on our Site may be mispriced. If the correct price of an item sold on Origin.com platform is higher than other our stated price, we will, at our discretion, either contact you for instructions before
                        shipping or cancel your order whether or not your credit card has been charged or other payment has been accepted.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>RISK OF LOSS</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        All items purchased from Origin.com are made pursuant to a shipment contract. This means that the risk of loss and title for such items pass to you upon our delivery to the carrier.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>RETURNS, REFUNDS AND TITLE</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Origin does not take title to returned items until the item arrives at the designated Returns center. At our discretion, a refund may be issued without requiring a return. In this situation, Origin does not take title to the refunded item. For more information
                        about our returns and refunds, please see our Returns Policy.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>THIRD-PARTY LINKS</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        In an attempt to provide increased value to our visitors, Origin.com may link to sites operated by third parties. However, even if the third party is affiliated with Origin, Origin has no control over these linked sites, all of which have separate privacy
                        and data collection practices, independent of Origin. These linked sites are only for your convenience and therefore you access them at your own risk. Nonetheless, Origin seeks to protect the integrity of its web site and the links
                        placed upon it and therefore requests any feedback on not only its own site, but for sites it links to as well (including if a specific link does not work). If there are links to unaffiliated websites they are not covered in this agreement.
                        We do not endorse or make any representations about such unaffiliated websites, or any information or other products or materials found there, or any results that may be obtained from using them. If you decide to access any unaffiliated
                        websites linked to this website, you do so entirely at your own risk. We are not responsible for the content of such other websites and shall not be liable for any damages or injuries arising from your visits there.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>SOCIAL NETWORK: FACEBOOK, TWITTER, AND YOUTUBE</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        The Origin Facebook, Twitter and YouTube pages are run and maintained by individuals from Origin. The views, opinions, depicted results and experiences expressed in user-submitted comments are solely those of the author and do not necessarily reflect
                        those of Origin.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>NO WARRANTIES</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Please understand that you assume total responsibility and risk when you use our website. Our website and services are provided on an "as is" and "as available" basis. You understand that Origin does not guarantee that anything on our websites will be
                        free of infection or viruses that might damage or interfere with your computer, data or personal information. Origin does not make any express or implied warranties, representations or endorsements whatsoever (including but not limited
                        to, warranties of title or non-infringement, or the implied warranties of merchantability or fitness for a particular purpose) with regard to our website, its contents, or any services provided through our website.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>TERMINATION OF SERVICE</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        We reserve the right to terminate our services to anyone at any time, for any reason, and without notice. You also have the option of canceling your account at any time. In the event of cancellation or termination, you will lose all data related to your
                        account.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>LIMITATION AND DISCLAIMER OF LIABILITY</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICES PROVIDED BY ORIGIN ON OR THROUGH THE SITES ARE PROVIDED "AS IS", "AS AVAILABLE" AND “WITH ALL FAULTS”, AND ORIGIN HEREBY EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT
                        NOT LIMITED TO, ANY WARRANTIES OF CONDITION, QUALITY, DURABILITY, PERFORMANCE, ACCURACY, RELIABILITY, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. ALL SUCH WARRANTIES, REPRESENTATIONS, CONDITIONS, AND UNDERTAKINGS ARE HEREBY
                        EXCLUDED. TO THE MAXIMUM EXTENT PERMITTED BY LAW, ORIGIN MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE VALIDITY, ACCURACY, CORRECTNESS, RELIABILITY, QUALITY, STABILITY, COMPLETENESS OR CURRENTNESS OF ANY INFORMATION PROVIDED ON
                        OR THROUGH THE SITES; ORIGIN DOES NOT REPRESENT OR WARRANT THAT THE MANUFACTURE, IMPORTATION, EXPORT, DISTRIBUTION, OFFER, DISPLAY, PURCHASE, SALE AND/OR USE OF PRODUCTS OR SERVICES OFFERED OR DISPLAYED ON THE SITES DOES NOT VIOLATE
                        ANY THIRD PARTY RIGHTS; AND ORIGIN MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND CONCERNING ANY PRODUCT OR SERVICE OFFERED OR DISPLAYED ON THE SITES.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>INDEMNIFICATION</h4>
                </ion-list-header>
                <ion-item lines="full">
                    <ion-text>
                        Each User hereby further agrees that Origin is not responsible and shall have no liability to you, for any material posted by others, including defamatory, offensive or illicit material and that the risk of damages from such material rests entirely with
                        each User. Origin reserves the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you shall cooperate with Origin in asserting any available
                        defenses.
                    </ion-text>
                </ion-item>
    
                <ion-list-header>
                    <h4>GOVERNING LAW</h4>
                </ion-list-header>
                <ion-item>
                    <ion-text>
                        You agree that your use of this site shall be governed in all respects by the laws of the state of Lyon, France., without regard to choice of law provisions, and not by the 1980 U.N. Convention on contracts for the international sale of goods. You agree
                        that jurisdiction over and venue in any legal proceeding directly or indirectly arising out of or relating to this site (including but not limited to the purchase of Origin.com products) shall be in the state or federal courts located
                        in Los Angeles County, France. Any cause of action or claim you may have with respect to the site (including but not limited to the purchase of Origin.com products) must be commenced within one (1) year after the claim or cause of
                        action arises. Origin's failure to insist upon or enforce strict performance of any provision of these terms and conditions shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties
                        nor trade practice shall act to modify any of these terms and conditions. Origin may assign its rights and duties under this Agreement to any party at any time without notice to you.
                    </ion-text>
                </ion-item>
            </div>
            
        </ion-list>

        
        <!--accordion usage on a small screen-->
        <ion-list *ngFor="let item of information; let i = index" class="accordion-list displayed-for-small-screens" detail="false" no-padding>
            <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <ion-icon slot="end" class="down-arrow" name="chevron-down-outline" *ngIf="!item.open"></ion-icon>
                <ion-icon slot="end" class="up-arrow" name="chevron-up-outline" *ngIf="item.open"></ion-icon>
                <ion-label class="accordion-title">
                    {{item.name}}
                </ion-label>
            </ion-item>
    
            <div *ngIf="item.children && item.open">
                <ion-list *ngFor="let child of item.children; let j = index;" lines="none" class="child-list">
                    <ion-item [ngClass]="{'child-active': child.open, 'child': !child.open}">
                        <ion-label class="ion-text-wrap">
                            {{child.name.join(" ")}}
                        </ion-label>
                    </ion-item>
    
                </ion-list>
            </div>
        </ion-list>       
        <!--End of accordion usage-->
    </div>

    <app-policy-footer></app-policy-footer>
</ion-content>