<ion-content>
    <div class="email-container">
        <div class="profile-header">
            <h1 class="ion-text-center">Change Sign-In Email</h1>
            <p> WARNING: Login email will be permanently changed.</p>
        </div>


        <div class="settings-form">
            <div class="settings-list">
                <ion-list>
                    <ion-list-header lines="inset">
                        <ion-label>
                            <h1>Account Settings</h1>
                        </ion-label>
                    </ion-list-header>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/payments" routerLinkActive="active">Manage Credit Cards</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/profile" routerLinkActive="active">Manage My Information</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/shipping-address" routerLinkActive="active">Manage Shipping Address</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/profile/password" routerLinkActive="active">Change Password</a>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>
                            <a routerLink="/myaccount/profile/email" routerLinkActive="active">Change Sign-In Email</a>
                        </ion-label>
                    </ion-item>

                </ion-list>
            </div>

            <div class="ion-card-content">
                <ion-card>
                    <form [formGroup]="changeEmailForm" novalidate (ngSubmit)="onSubmit()">
                        <ion-item>
                            <ion-label position="floating">Current Email<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                            <ion-input formControlName="currentEmail" (ionBlur)="checkEmailAvailability( $event.target.value)" name="currentEmail" type="text"></ion-input>
                        </ion-item>

                        <!-- Shows error message when Email field is left blank starts here-->

                        <div *ngIf="changeEmailForm.controls['currentEmail'].invalid && (changeEmailForm.controls['currentEmail'].dirty || changeEmailForm.controls['currentEmail'].touched)" color="danger">
                            <div *ngIf="changeEmailForm.controls['currentEmail'].errors.required">
                                Email is required.
                            </div>
                        </div>

                        <!-- Shows error message when Email field is left blank STOPS here-->

                        <ion-item>
                            <ion-label position="floating">New Email<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                            <ion-input formControlName="newEmail" name="newEmail" type="text"></ion-input>
                        </ion-item>

                        <!-- Shows error message when Email field is left blank starts here-->

                        <div *ngIf="changeEmailForm.controls['newEmail'].invalid && (changeEmailForm.controls['newEmail'].dirty || changeEmailForm.controls['newEmail'].touched)" color="danger">
                            <div *ngIf="changeEmailForm.controls['newEmail'].errors.required">
                                Email is required.
                            </div>
                        </div>

                        <!-- Shows error message when Email field is left blank STOPS here-->

                        <ion-item>
                            <ion-label position="floating">Confirm Email<sup><ion-text color="danger">*</ion-text></sup></ion-label>
                            <ion-input formControlName="confirmEmail" appConfirmEqualityValidator="newEmail" name="confirmEmail" type="text"></ion-input>
                        </ion-item>

                        <!-- Shows error message when Confirm Email field is left blank starts here-->

                        <div *ngIf="changeEmailForm.controls['confirmEmail'].invalid && (changeEmailForm.controls['confirmEmail'].dirty || changeEmailForm.controls['confirmEmail'].touched)" color="danger">
                            <div *ngIf="changeEmailForm.controls['confirmEmail'].errors.required">
                                Enter the same Email here.
                            </div>
                        </div>
                        <div *ngIf="changeEmailForm.controls['confirmEmail'].touched && changeEmailForm.controls['confirmEmail'].errors?.notEqual && !changeEmailForm.controls['confirmEmail'].errors?.required" class="errorMessages">
                            Emails do not match
                        </div>

                        <!-- Shows error message when Confirm Email field is left blank STOPS here-->

                        <div class="ion-margin-top">
                            <ion-row>
                                <ion-col size="4">
                                    <ion-button class="ion-activatable ripple-parent update-button" [disabled]="!changeEmailForm.valid || '' !== EmailErrorMessage" expand="block" type="submit">
                                        Submit
                                        <ion-ripple-effect type="bounded"></ion-ripple-effect>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </form>
                </ion-card>
            </div>
        </div>

    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>