.email-container {
    margin-top: 120px;
}

.ion-card-content {
    width: 52vw;
    margin: 30px auto;
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .update-button {
        --background: #9E15BF !important;
        --border-radius: 50px !important;
        --box-shadow: 0px 8px 4px rgba(157, 21, 191, 0.5);
    }
    ion-card {
        width: 50vw;
        margin: auto;
        margin-bottom: 10px;
    }
}

.profile-header {
    p {
        text-align: center;
        color: red;
    }
}

.settings-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .settings-list {
        width: 18vw;
        border: 1px solid gray;
    }
}

// setting link properties to be used by routerLinkActive
a.active {
    color: brown;
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.errorMessages {
    margin: 15px 0px;
    background-color: yellow;
    color: red;
}