<ion-content>
    <div class="myaccount-container">
        <div class="top-bars">
            <div class="first-div">
                1
            </div>

            <div class="second-div">
                2
            </div>

            <div class="third-div">
                3
            </div>

            <div class="fourth-div">
                4
            </div>

            <div class="fifth-div">
                5
            </div>
        </div>

        <div>
            <h1>Recent Orders</h1>
        </div>

        <div class="order-table">
            <table>
                <thead>
                    <tr>
                        <th>Order#</th>
                        <th>Order Date</th>
                        <th>Shipped By</th>
                        <th>Status</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="adress-email-container">
            <div>
                <h3>My Information</h3>
                <h5>Shipping Addresses:</h5>
                <p>No shipping Addresses</p>
                <p><a routerLink="/myaccount/shipping-address">Manage Address book ></a></p>
            </div>

            <div>
                <h3>Email</h3>
                <p>
                    < Email address here>
                </p>
                <p><a routerLink="/myaccount/profile/email/">Change E-mail ></a></p>

                <h3>Phone Number:</h3>
                <p>
                    < phone number here>
                </p>
                <p><a routerLink="/myaccount/profile/">Change Phone No. ></a></p>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</ion-content>